:root{
  --bg-color: rgb(49, 48, 48);
  --text-color: #f5f5f5;
  --success: rgb(7, 227, 51);
  --warning: rgb(180, 82, 46);
  --primary: rgb(0, 123, 255);
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: #f5f5f5;
  transition: all ease .25s;
}

table{
  display: block;
  max-height: 360px;
  overflow-y: scroll;
  border-collapse: collapse;
}

table::-webkit-scrollbar{
  width: 5px;
}

table::-webkit-scrollbar-thumb{
  background: #888;
}

table::-webkit-scrollbar-track{
  background: #f1f1f1;
}

thead{
  top: 0;
  position: sticky;
  background-color: var(--text-color);
  color: var(--bg-color);
}

thead, tbody{
  display: block;
  width: 100%;
}

td, th{
  border: 1px solid var(--text-color);
  text-align: center;
  width: 100%;
  flex: 1 1 auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 5px 5px;
}

thead{
  z-index: 2;
}

tr{
  overflow-x: hidden;
  position: relative;
  display: flex;
  width: 100%;
  z-index: 0;
}

tr td:nth-child(1), tr th:nth-child(1){
  width: 50%;
}

button{
  box-shadow: 1px 1px 1px 1px var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: all ease .25s;
}

button:hover{
  box-shadow: 1px 1px var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-color: var(--text-color);
  box-shadow: 1px 1px var(--bg-color);
  color: var(--bg-color);
}

